<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resus - Others</title>
  <link rel="stylesheet" href="../statics/fontawesome.min.css">
  <link rel="stylesheet" href="../statics/css/bootstrap.min.css">

  <link rel="stylesheet" href="">
</head>

<body>
  <div class="containerFluid">
    <div class="header">
      <header>
        <!-- header breadcrumb -->
        <div
          class="heade_breadcrumb row text-right bg-black text-white justify-content-center breadcrumb align-content-center d-none d-md-flex mx-1 my-1">

          <div class="row container-fluid align-content-center align-items-center bg-prmary text-light ">
            <div class="col flex-column">
              <h2>WELCOME TO <strong class="h1">RENNY KAWKA'S</strong> WEBSITE</h2>

              <p>Hearing Your Motivation and innovation Idear.</p>

            </div>
            <marquee class="col-2 " behavior="" direction="up">
              <img class="img_header mx-0 ml-0" src="../img/personal/IMG_20200510_173128.jpg" alt="Dev in the Picture">
            </marquee>
          </div>
        </div>
        <!-- navbar  -->

        <nav class="navbar navbar-expand-md  bg-blue breadcrumb text-light justify-content-between 
        -1 my-1">
          <a class="navbar-brand" href="#"><strong class="">Reach-Up UGANDA</strong>
            <!-- <span class="fa fa-code"></span> -->
          </a>
          <button class="navbar-toggler navbar navbar-dark  btn-outline-info btn-lg" type="button"
            data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
          </button>
          <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav justify-content-md-end ml-md-auo ml-md-n3 mr-md-auto nav nav-tabs">
              <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
              <li class="dropdown nav-item">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Profile
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Resume / CV</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Portifolio</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Hobbis</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
            </ul>
            <form class="form-inline my-md-0 my-lg-0">
              <input class="form-control mr-sm-2 col-4 ml-auto" type="text" placeholder="Search" arialabel="Search">
              <button class="btn btn-outline-light my-1 my-sm-0" type="submit">Find
                Stuff</button>
            </form>
          </div>
        </nav>

        <!-- / of navbar -->
      </header>
    </div>
    <!-- content -->
    <section class="section1"></section>
    <!--/ of content -->


    <footer class="footer">
      <p class=""> 2020&copy;, All Rights Reserved</p>
    </footer>
  </div>
  <script src="../statics/js/jquery.min.js"></script>
  <script src="../statics/js/bootstrap.min.js"></script>
</body>

</html>