<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESUS' Homepage</title>
    <style>
        .home-header {
            width: 100%;
            background-color: rgba(0, 0, 29, 0.815);
            display: inline-block;

        }

        .nav-wrap {
            display: flex;
            justify-content: space-between;
            color: white;
            padding: 1px 10px;
        }

        .nav-logo a {
            color: white;
            font-weight: bolder;
        }

        .nav-bar {
            display: inline-block;
        }


        #logout button {
            background-color: rgba(0, 0, 29, 0.815);
            color: wheat;
            border: 0;
        }

        #logout button:hover {
            border-radius: 5%;
        }
        @media (max-width: 550px) {
            #menu {
            display: none;
        }
        }
    </style>
        <link rel="stylesheet" href="../statics/fontawesome.min.css">
        <link rel="stylesheet" href="../statics/css/bootstrap.css">
        <link rel="stylesheet" href="../statics/fontawesome.css">
        <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
        <link rel="stylesheet" href="../statics/main.css">
        <link rel="stylesheet" href="../statics/all_fonts.min.css">
      </head>
      
      <body>
        <div class="containerFluid">
          <div class="header">
            <header>
              <!-- header breadcrumb -->
              <div
                class="heade_breadcrumb row text-right fle  justify-content-center breadcrumb align-content-center d-none d-md-flex mx-1 my-1">
      
                <div class="row container-fluid align-content-center align-items-center bg-prmary text-light ">
                  <div class="col flex-column">
                    <h2>WELCOME TO <strong class="h1">RENNY KAWKA'S</strong> WEBSITE</h2>
      
                    <p>Hearing Your Motivation and innovation Idear.</p>
      
                  </div>
                  <marquee class="col-2 " behavior="" direction="up">
                    <img class="img_header mx-0 ml-0" src="../img/personal/IMG_20200510_173128.jpg" alt="Dev in the Picture">
                  </marquee>
                </div>
              </div>
              <!-- navbar  -->

        <nav class="navbar navbar-expand-lg  bg-red breadcrumb text-light mx-1 my-1">
          <a class="navbar-brand" href="#"><strong class="">Reach-Up UGANDA <span class="fa fa-code"></span></strong>
          </a>
          <button class="navbar-toggler navbar navbar-dark  btn-outline-info btn-lg" type="button"
            data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
          </button>
          <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav mx-auto nav nav-tabs">
              <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
              <li class="dropdown nav-item">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Profile
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Resume / CV</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Portifolio</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Hobbis</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
            </ul>
            <form class="form-inline my-md-1 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" arialabel="Search">
              <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Find
                Stuff</button>
            </form>
          </div>
        </nav>

        <!-- / of navbar -->
            </header>
          </div>
          <!-- content of index -->
          
          <!-- / of content of index -->
      
          <!-- content homepage-->
          <section id="sec1" class="mx-1 text-justify breadcrumb">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim explicabo accusamus dolorem aliquam nostrum
            eligendi molestias? Iusto nesciunt quidem eligendi corporis. Reprehenderit laboriosam ullam sunt provident ipsum
            totam ab omnis, accusantium iusto exercitationem optio nobis inventore suscipit debitis aperiam porro placeat
            impedit voluptas consectetur. Fuga omnis, qui et nam impedit itaque cupiditate vero illo voluptate est. Provident
            dignissimos ipsam aperiam eum quos ab voluptates quod distinctio fuga, nulla sit quis officiis tempore illo ipsum
            voluptatem eveniet soluta hic ea. Quisquam, pariatur. Quod architecto rem pariatur excepturi explicabo inventore
            temporibus, ipsa doloribus nihil corrupti a sit aliquid eum dolorem consequatur alias iste dolorum. Libero
            necessitatibus voluptatum consectetur porro nam similique ipsam laborum a, veniam mollitia, eum architecto sequi
            enim ut optio? Atque sed quos ipsa optio deserunt, laboriosam sunt architecto expedita tenetur officiis ullam
            voluptatum eligendi unde nam reiciendis minus ipsam ad error impedit maxime corporis suscipit laudantium? Culpa,
            quas repudiandae. Aperiam, quae sit? Quos ipsum laboriosam cumque vitae suscipit est, ad fuga ut quibusdam fugit
            explicabo iusto dolorum optio, sequi molestias labore temporibus magnam corporis? Nostrum sed quos fugiat
            consequatur assumenda similique totam.
          </section>
          <!-- / of content homepage-->
      
          <!-- footer -->
          <footer class="row breadcrumb mx-1 bg-black">
            <div class="col d-flex justify-content-center align-content-center align-items-center text-center ">
              <p class="mt-3"> 2020&copy;, Proudly Sponsord by <a href="#rennykawka.wordpress.com">Reach-Up Uganda</a> <br>
                All Rights Reserved</p>
            </div>
          </footer>
          <!-- of the footer -->
        </div>
        <script src="../statics/js/jquery.min.js"></script>
        <script src="../statics/js/bootstrap.min.js"></script>
      </body>
      
      </html>