<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resus' Personal Web</title>
    <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
    <link rel="stylesheet" href="../statics/main.css">
    <style>
        .header {
            text-align: center;
        }

        .section a {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    </style>

</head>

<body>
    <header>
        <div class="row breadcrumb bg-muted mx-1">
            <div class="col containerFluid header">
                <h1>WELCOME TO RESUS' WEBSITE</h1>
            </div>
        </div>
    </header>

    <!-- content -->

    <section id="sec_index" class="m-1">
        <div class="row d-flex justify-content-center align-content-center">
            <a class="btn btn-light  btn-link col-2 align-content-center d-flexe" id="getstarted" href="../templates/homepage.htm">
                Get Started
            </a>
        </div>

    </section>
    <!-- / of content -->

    <!-- footer -->
    <footer class="row breadcrumb mx-1 bg-black">
        <div class="col d-flex justify-content-center align-content-center align-items-center">
            <p> 2020&copy;, All Rights Reserved</p>
        </div>
    </footer>
    <!-- / of footer -->

    <script src="../statics/main.js"></script>
    
</body>

</html>