<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resus - Others</title>
  <link rel="stylesheet" href="../statics/css/bootstrap.css">
  <link rel="stylesheet" href="../statics/css/bootstrap.min.css">
  <link rel="stylesheet" href="../statics/main.css">
  <link rel="stylesheet" href="../statics/css/all.min.css">
  <link rel="stylesheet" href="../statics/css/all.css">
  <link rel="stylesheet" href="../statics/css/fontawesome.min.css">
    <style>
        #head_text{
            width: 80%;
        }
    </style>

</head>

<body class="d-flex align-content-between">
  <div class="containerFluid">
    <div class="header">
      <header>
        <!-- header breadcrumb -->
        <div class="heade_breadcrumb container-fluid textright bg-black text-white breadcrumb align-content-center d-none d-md-flex mx-1 my-1">

          <div class="r align-content-center align-items-center bg-prmary text-light justify-content-between">
            <div id="head_text" class="">
              <h2>WELCOME TO <strong class="h1">RENNY KAWKA'S</strong> WEBSITE</h2>

              <p>Hearing Your Motivation and innovation Idear.</p>

            </div>
              <div class="float-right">
              <img class="img_header mr-0 pr-0" src="../img/personal/IMG_20200510_173128.jpg" alt="Dev in the Picture">
              </div>
                  
              
              
          </div>
        </div>
        <!-- navbar  -->

        <nav id="myNav" class="navbar navbar-expand-md  bg-blue breadcrumb text-light justify-content-between 
        -1 my-1">
          <a class="navbar-brand" href="#"><strong class="">Reach-Up UGANDA</strong>
            <!-- <span class="fa fa-code"></span> -->
          </a>
          <button class="navbar-toggler navbar navbar-dark  btn-outline-info btn-lg" type="button"
            data-toggle="collapse" data-target="#myNav" aria-controls="myNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
          </button>
          <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav justify-content-md-end ml-md-auo ml-md-n3 mr-md-auto nav nav-tabs">
              <li class="nav-item active"><a class="nav-link" href="#home">Home</a></li>
              <li class="dropdown nav-item">
                <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#">Profile
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="#">Resume / CV</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Portifolio</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Hobbis</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
            </ul>
            <form class="form-inline my-md-0 my-lg-0">
              <input class="form-control mr-sm-2 col-4 ml-auto" type="text" placeholder="Search" arialabel="Search">
              <button class="btn btn-outline-light my-1 my-sm-0" type="submit">Find
                Stuff</button>
            </form>
          </div>
        </nav>

        <!-- / of navbar -->
      </header>
    </div>
    <!-- trials -->
    <!-- <div class="spinner-border text-success" role="status"> <span class="sronly">Loading...</span> </div> -->
    <!-- trials -->
    <!-- content of index -->
    
    <!-- / of content of index -->

    <!-- content homepage-->
    <section id="sec1" class="mx-1 rw breadcrumb  text-justify ">
      <div class="row">
        <p class="col">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim explicabo accusamus dolorem aliquam nostrum
        eligendi molestias? Iusto nesciunt quidem eligendi corporis. Reprehenderit laboriosam ullam sunt provident ipsum
        totam ab omnis, accusantium iusto exercitationem optio nobis inventore suscipit debitis aperiam porro placeat
        impedit voluptas consectetur. Fuga omnis, qui et nam impedit itaque cupiditate vero illo voluptate est.
        Provident
        dignissimos ipsam aperiam eum quos ab voluptates quod distinctio fuga, nulla sit quis officiis tempore illo
        ipsum
        voluptatem eveniet soluta hic ea. Quisquam, pariatur. Quod architecto rem pariatur excepturi explicabo inventore
        temporibus, ipsa doloribus nihil corrupti a sit aliquid eum dolorem consequatur alias iste dolorum. Libero
        necessitatibus voluptatum consectetur porro nam similique ipsam laborum a, veniam mollitia, eum architecto sequi
        enim ut optio? Atque sed quos ipsa optio deserunt, laboriosam sunt architecto expedita tenetur officiis ullam
        voluptatum eligendi unde nam reiciendis minus ipsam ad error impedit maxime corporis suscipit laudantium? Culpa,
        quas repudiandae. Aperiam, quae sit? Quos ipsum laboriosam cumque vitae suscipit est, ad fuga ut quibusdam fugit
        explicabo iusto dolorum optio, sequi molestias labore temporibus magnam corporis? Nostrum sed quos fugiat
        consequatur assumenda similique totam.

        </p>
      </div>
    </section>
    <!-- / of content homepage-->

    <!-- contact-Us -->
      
    <!-- / of contact-Us -->

    <!-- footer -->
    <footer id="my_footer" class="breadcrum bg-blue mx-1 bg-seondary text-light d-flex flex-column">
      <div class="row d-flex flex-wrap my-1 justify-content-center text-justify">
        <div class="text-center col-12 col-sm-6 col-md-3 col-lg">
          <ul class="bg-blue breadcrumb list-group list-group-flush">
            <li class="list-group-item bg-blue text-light">Chai Latte</li>
            <li class="list-group-item bg-blue text-light">Matcha Latte</li>
            <li class="list-group-item bg-blue text-light">Earl Grey Tea</li>
            <li class="list-group-item bg-blue text-light">Vanilla Rooibos</li>
            <li class="list-group-item bg-blue text-light">Mate</li>
           </ul>
        </div>
        <div class="list-group text-center mx-3 justify-content-center col-11 mx-1 my-1 col-sm-6 col-md-3 col-lg bg-blue breadcrumb">
          <a href="#" class="list-group-item list-group-item-action active bg-blue text-light">
          Our prime choice for you!
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-blue text-light">Some good offer</a>
          <a href="#" class="list-group-item list-group-item-action bg-blue text-light">Also an option</a>
          <a href="#" class="list-group-item list-group-item-action bg-blue text-light">Something else on the
          list</a>
          <a href="#" class="list-group-item list-group-item-action disabled bg-blue text-light" tabindex="-1"
          aria-disabled="true">And this one’s not available</a>
        </div>
        <div class="text-center col-12 col-sm-6 col-md-3 my-1 mx-1 col-lg">
          <ul class="list-group">
            <li class="list-group-item">All the colors that I have </li>
           <li class="list-group-item list-group-item-primary">Light blue</li>
            <li class="list-group-item list-group-item-secondary">Light gray</li>
            <li class="list-group-item list-group-item-success">Green</li>
            <li class="list-group-item list-group-item-danger">Red</li>
            <li class="list-group-item list-group-item-warning">Yellow</li>
            <li class="list-group-item list-group-item-info">Teal</li>
            <li class="list-group-item list-group-item-light">White</li>
            <li class="list-group-item list-group-item-dark">Gray</li>
           </ul>
        </div>
        
      </div>
      <div class="row">
        <div class="col d-flex justify-content-center align-content-center align-items-center text-center ">
          <p class="mt-3"> 2020&copy;, Proudly Sponsord by <a class="text-warning" href="#rennykawka.wordpress.com">Reach-Up Uganda</a> <br>
            All Rights Reserved</p>
        </div>
      </div>
      
    </footer>

    <script>
      
    </script>
    <!-- of the footer -->

    <script src="../statics/js/jquery.min.js"></script>
    <script src="../statics/main.js"></script>
    <script src="../statics/js/bootstrap.min.js"></script>
</body>

</html>